form {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.spinner {
  width: 70px;
  z-index: 9999;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0.4;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.search {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.img__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12rem;
  right: 5px;
  z-index: 101;
  transform: translateY(10%);
  border-radius: 100px;
  padding: 1.5rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.img__container:active {
  background-color: rgba(182, 182, 182, 0.322);
}
.close__svg {
  stroke: white;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 103;
  display: block;
  font-size: 3rem;
  background: none;
  border: none;
  z-index: 100;
  border-radius: 100px;
  cursor: inherit;
}
.label {
  color: #f0f6fc;
  margin-bottom: 4rem;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  padding: 1.8rem 0;
}

input {
  z-index: 99;
  font-family: sans-serif;
  color: #f0f6fc;
  font-size: 2.5rem;
  width: 60rem;
  padding: 1.5rem 2rem;
  background-color: rgba(13, 17, 23, 0.7);
  box-shadow: 0px 0px 0px 2px #30363d;
  border: none;
  outline: none;
  display: block;
  transition: all 0.3s;
  display: block;
  border-radius: 10px;
}

input::placeholder {
  color: #8b949e;
}

input:focus {
  box-shadow: 0px 0px 0px 2px #0073ff;
  border-bottom: none;
  background-color: rgba(33, 38, 45, 0.7);
}

@media (max-width: 1024px) {
  .container {
    margin-top: 4rem;
  }
}

@media (max-width: 1000px) {
  .container {
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  input {
    width: 50rem;
    padding: 1.5rem 2rem;
  }
  .label {
    padding: 0;
  }
  .img__container {
    top: 8.5rem;
  }
  .spinner {
    top: 16rem;
  }
}

@media (max-width: 550px) {
  .container {
    margin-top: 5rem;
  }

  input {
    width: 40rem;
    padding: 1rem 1.5rem;
    font-size: 2.2rem;
  }

  .img__container {
    top: 7.8rem;
  }

  input::placeholder {
    font-size: 2.1rem;
  }

  .spinner {
    top: 15rem;
  }
}

@media (max-width: 450px) {
  input {
    width: 35rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
  }

  .label {
    font-size: 3rem;
  }

  input::placeholder {
    font-size: 1.8rem;
  }

  .close__svg {
    width: 2rem;
    height: 2rem;
  }

  .img__container {
    padding: 1rem;
    transform: translateY(5%);
    top: 7.5rem;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  .spinner {
    top: 12.7rem;
  }
}

@media (max-width: 350px) {
  .label {
    font-size: 2.5rem;
  }
  input {
    width: 27rem;
  }
  .img__container {
    top: 7rem;
  }

  .spinner {
    top: 12rem;
  }
}
