.not_found__container {
  background-color: rgba(33, 38, 45, 0.8);
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin: 0 auto;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 10;
}
.not_found {
  font-size: 2.5rem;
  color: #f0f6fce3;
  text-align: center;
  z-index: 10;
}

@media (max-width: 700px) {
  .not_found__container {
    width: 50rem;
  }
}

@media (max-width: 550px) {
  .not_found__container {
    width: 40rem;
  }
}

@media (max-width: 450px) {
  .not_found__container {
    width: 35rem;
  }

  .not_found {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .not_found__container {
    width: 27rem;
  }
}
