.filtered__users {
  font-size: 1.5rem;
  background-color: rgba(33, 38, 45, 0.55);
  width: 60rem;
  opacity: 0;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 2px solid#30363d;
  border-radius: 10px;
  z-index: 10;
  z-index: 99999;
  transition: all 0.4s;
}
.filtered__users::-webkit-scrollbar {
  width: 10px;
  z-index: 99999;
}

.filtered__users::-webkit-scrollbar-track {
  background: rgba(22, 27, 34, 0.8);
  border-radius: 10px;
}

.filtered__users::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 6px;
}

.filtered__users::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}
.user__length1,
.user__length2,
.user__length3,
.user__length4,
.user__length5,
.user__length__other {
  opacity: 1;
  overflow-y: hidden;
}
.user__length1 {
  height: 9.2rem;
}
.user__length2 {
  height: 18.4rem;
}
.user__length3 {
  height: 27.6rem;
}
.user__length4 {
  height: 36.8rem;
}
.user__length5 {
  height: 46rem;
}
.user__length__other {
  height: 46rem;
  overflow-y: auto;
}

.user {
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 0px 2px #30363d54;
  background-color: rgba(33, 38, 45, 0.7);
  z-index: 9999;
}
.user:hover {
  background-color: #1f6feb;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 7rem;
  width: auto;
  border-radius: 100px;
}

p {
  font-size: 2.5rem;
  color: #e4e4e4;
  font-weight: 400;
  padding: 1rem;
}
b {
  color: white;
}
@media (max-width: 700px) {
  .filtered__users {
    max-width: 50rem;
  }
}

@media (max-width: 550px) {
  .filtered__users {
    max-width: 40rem;
  }

  p {
    font-size: 2.2rem;
  }
}

@media (max-width: 450px) {
  .filtered__users {
    max-width: 35rem;
  }

  p {
    font-size: 2rem;
  }

  img {
    height: 5rem;
  }

  .user {
    padding: 0.5rem 1rem;
  }

  .user__length1 {
    height: 6rem;
  }
  .user__length2 {
    height: 12.5rem;
  }
  .user__length3 {
    height: 18.8rem;
  }
  .user__length4 {
    height: 25rem;
  }
  .user__length5 {
    height: 31rem;
  }

  .user__length__other {
    height: 31rem;
    overflow-y: auto;
  }
}

@media (max-width: 350px) {
  .filtered__users {
    max-width: 27rem;
  }
}
