@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}
::-moz-selection {
  /* Code for Firefox */
  background-color: rgba(13, 17, 23, 0.7);
}

::selection {
  background-color: rgba(13, 17, 23, 0.7);
}
