@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(22, 27, 34, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}
